<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Footer | Employee Management</title>
</head>
<body>
<!-- ======= Footer Section ======= -->
<footer th:fragment="footer" class="fixed-bottom row w-100 justify-content-around my-1 mx-0">
    <div class="col-10 bg-dark text-center text-white" style="height: 50px; line-height: 50px;">
        Designed & Developed by
        <a href="https://jriyaz.github.io/Portfolio/"
           target="_blank"
           class="text-decoration-none mx-2"><strong>Riyaz J</strong></a>
    </div>
</footer>
<!-- End Footer  -->
</body>
</html>